.box {
  /*position: absolute;*/
  /*padding: 22px 62px 22px 62px;*/
  /*top: 36%;*/
  /*left: 50%;*/
  /*transform: translate(-49.8%, -50%) scaleX(0.08);*/
  /*background: #606060;*/
  /*text-align: center;*/
}

/*.log {*/
/*  font-size: 20px;*/
/*  padding-left: 40px;*/
/*  padding-right: 40px;*/
/*  color: white;*/
/*}*/

/*.box input[type="text"], .box input[type="password"] {*/
/*  position: relative;*/
/*  left: -22%;*/
/*  background: none;*/
/*  display: block;*/
/*  margin: 20px auto;*/
/*  text-align: center;*/
/*  z-index: 10;*/
/*  border: 2px solid #8adb70;*/
/*  padding: 0 39px;*/
/*  width: 80%;*/
/*  outline: none;*/
/*  color: white;*/
/*  border-radius: 24px;*/
/*  transition: 0.25s;*/
/*}*/

/*.box input[type="text"]:focus, .box input[type="password"]:focus {*/
/*  width: 100%;*/
/*  left: -32%;*/
/*  border: 2px solid #db49da;*/
/*}*/

/*.button {*/
/*  position: relative;*/
/*  background: none;*/
/*  display: block;*/
/*  text-align: center;*/
/*  z-index: 10;*/
/*  border: 2px solid #8adb70;*/
/*  padding: 10px 19px;*/
/*  outline: none;*/
/*  color: white;*/
/*  border-radius: 24px;*/
/*  transition: 0.25s;*/
/*  cursor: pointer;*/
/*}*/

/*.box input[type="button"] {*/
/*  left: -39%;*/
/*  margin: 3px 4px;*/
/*  width: 43%;*/
/*}*/

/*.box input[type="button"]:hover {*/
/*  background-color: chocolate;*/
/*  border: 2px solid chocolate;*/
/*}*/


/*.box input[type="submit"] {*/
/*  left: -26%;*/
/*  margin: 3px auto;*/
/*  width: 63%;*/
/*}*/

/*.box input[type="submit"]:hover {*/
/*  background-color: #5fd243;*/
/*  border: 2px solid #5fd243;*/
/*}*/

/*.buttons {*/
/*  display: inline-flex;*/
/*  margin: -26px -124px 0 -18px;*/
/*  padding-top: 22px;*/
/*}*/

/*.box input[type="signUp"] {*/
/*  left: -26%;*/
/*  margin: 3px auto;*/
/*  width: 80%;*/
/*}*/

/*.box input[type="signUp"]:hover {*/
/*  background-color: #403fd2;*/
/*  border: 2px solid #403fd2;*/
/*}*/

/*.signup {*/
/*  font-size: 26px;*/
/*  font-family: Arial sans-serif;*/
/*}*/
mat-label{
  display: inline-block;
}
input{
  display: inline-block;
}
.container{
  margin-top: 10vh;
}

