<div class="container">
  <h4>About the service</h4>
  <p>
    Welcome to the car parking monitoring website which allows you to get current information on your parking fines
    and upload a payment bill that could be paid in any post office, at no additional cost.
    The site is a joint venture supported by information from all the Municipalities and parking payment systems,
    so that you can receive all the information on your fines and fees just-in-time.
</p>
  <p>
    Service works all over the State of Israel for all the cars registered in the State and for all the citizens
    of the State. Soon the service will incluse also an opportunity for companies to check their car fines.</p>
  <p>
    Using this service you can receive all the information on the topic according to your registered cars individually
    one-by-one or all together for all the parking lots of every Municipality that are provided by special cameras.
    If you have any troubles in getting information or a bill, or you want to argue a fine received, please contact us
    by phone: <b>050-50-50-550</b> or by email: <b>itsfine@gov.co.il</b>, and our support command will help you as soon as possible.
  </p>
  <p>
    In orser to use the service in full capacity you need to provide your personal data including your personal ID
    (teudat zeut), car number and car passport number. All the personal data security is strictly protected.
  </p>
</div>>
