span{
  min-width: 10%;
  margin-left: 3vh;
  font-size: 1.1em;
}
span:hover{
  cursor: pointer;
  color: darkred;
  font-weight: bold;
}
.remain-space{
  flex: 1 1 auto;
}
.container{
  max-width: 100%;
  border-width: 0 0 2.5vh 0;
  border-bottom: darkolivegreen solid 0.5em;
  min-height: 3.9vh;
}
.logo{
  margin-left: 0;
  margin-right: 2vw;
  overflow: hidden;
}
mat-toolbar-row{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
