<div class="container">

  <mat-card class="centered papersheet">
    <mat-card-title>Contact Details</mat-card-title><br>
    <mat-card-content>
      <form [formGroup]="contactFG" >
        <mat-form-field *ngFor="let field of contactfields">
          <mat-label>{{field}}</mat-label>
          <input value="{{changedcontact[field]}}"
                 matInput
                 [formControl]="contactFG.controls[field]"
                 placeholder="{{field}}"
                 [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="!contactFG.controls[field].valid">That's not a valid data!</mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button type="submit" mat-raised-button color="primary" (click)="sendData()">Submit</button>
          <button type="reset" mat-raised-button color="primary">Reset</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>

</div>
