<div class="container">

  <mat-card class="centered papersheet">
    <mat-card-title>Add a New Car</mat-card-title><br>
    <mat-card-content>
      <form [formGroup]="newCarFG" >
        <div *ngFor="let field of fields">
          <mat-form-field >
            <mat-label class="label">{{field.name}}</mat-label>
            <input *ngIf="field.ind !=='comment'" matInput required
                   [formControl]="newCarFG.controls[field.ind]"
                   value="{{newCar[field.ind]}}"
            />
            <textarea *ngIf="field.ind =='comment'" matInput required
                      [formControl]="newCarFG.controls[field.ind]"
                      value="{{newCar[field.ind]}}"
                      ></textarea>
            <mat-error *ngIf="!newCarFG.controls[field.ind].valid">{{field.err}}</mat-error>
          </mat-form-field>
        </div>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" class="waves-effect waves-light btn" (click)="sendData()">Add</button>
      <button  class="waves-effect waves-light btn" (click)="clean()">Clean</button>
      <button class="waves-effect waves-light btn" (click)="exit()">Exit</button>
    </mat-card-actions>
  </mat-card>

</div>
